node-red/flow_node-red.json
[
    {
        "id": "50ea4ca697b2d75d",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dcad6891d05228c7",
        "type": "mqtt in",
        "z": "50ea4ca697b2d75d",
        "name": "Recebe dados IoT",
        "topic": "/embrace/sensores",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_local",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 280,
        "y": 260,
        "wires": [
            [
                "60ec7583c0816249"
            ]
        ]
    },
    {
        "id": "60ec7583c0816249",
        "type": "json",
        "z": "50ea4ca697b2d75d",
        "name": "Converter JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "afbbb8d31e05a794",
                "0c7685073cae2b06",
                "3a626764c44114f7",
                "b909939e0d503fc2",
                "a29f9b6d75fdaba8",
                "ed82f3498b020ea2"
            ]
        ]
    },
    {
        "id": "afbbb8d31e05a794",
        "type": "debug",
        "z": "50ea4ca697b2d75d",
        "name": "Dados recebidos",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "0c7685073cae2b06",
        "type": "ui_gauge",
        "z": "50ea4ca697b2d75d",
        "name": "Temperatura",
        "group": "ui_embrace",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "donut",
        "title": "Temperatura (°C)",
        "label": "°C",
        "format": "{{payload.temperatura}}",
        "min": 0,
        "max": 50,
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "3a626764c44114f7",
        "type": "ui_gauge",
        "z": "50ea4ca697b2d75d",
        "name": "Umidade Ar",
        "group": "ui_embrace",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "donut",
        "title": "Umidade do Ar (%)",
        "label": "%",
        "format": "{{payload.umidade}}",
        "min": 0,
        "max": 100,
        "x": 710,
        "y": 320,
        "wires": []
    },
    {
        "id": "b909939e0d503fc2",
        "type": "ui_gauge",
        "z": "50ea4ca697b2d75d",
        "name": "Umidade Solo",
        "group": "ui_embrace",
        "order": 3,
        "width": 4,
        "height": 3,
        "gtype": "donut",
        "title": "Umidade do Solo (%)",
        "label": "%",
        "format": "{{payload.umidade_solo}}",
        "min": 0,
        "max": 100,
        "x": 710,
        "y": 380,
        "wires": []
    },
    {
        "id": "a29f9b6d75fdaba8",
        "type": "ui_text",
        "z": "50ea4ca697b2d75d",
        "group": "ui_embrace",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "Estado da Chuva",
        "label": "Chuva Detectada?",
        "format": "{{payload.chuva}}",
        "layout": "row-spread",
        "x": 720,
        "y": 440,
        "wires": []
    },
    {
        "id": "ed82f3498b020ea2",
        "type": "ui_text",
        "z": "50ea4ca697b2d75d",
        "group": "ui_embrace",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "Risco",
        "label": "Nível de Risco",
        "format": "{{payload.alerta}}",
        "layout": "row-spread",
        "x": 690,
        "y": 500,
        "wires": []
    },
    {
        "id": "mqtt_broker_local",
        "type": "mqtt-broker",
        "name": "Broker Local",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "embrace-dashboard",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ui_embrace",
        "type": "ui_group",
        "name": "Tempo Seguro",
        "tab": "ui_embrace_tab",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "ui_embrace_tab",
        "type": "ui_tab",
        "name": "Embrace IoT",
        "icon": "dashboard",
        "order": 1
    }
]
